recursive-include lfd/3DAlignment *.c *.h Makefile
recursive-include lfd/LightField *.c *.h Makefile
recursive-include lfd/Executable *.obj *.txt q8_table
recursive-include lfd/examples *.obj

include lfd/Executable/3DAlignment
include lfd/Executable/Distance
